<footer class="bg-secondary text-white text-center text-md-start">
    <div class="container p-2">
      <div class="row">
        <div class="col-xl-3 mb-4 mb-md-0">
          <h5 class="text-uppercase">Blog Cursor</h5>
          <p>
            This is my blog at Cursor Education! :)<br>
            Here you can see a little description of my Blog.<br>
            My fantasy is not so good today, so you can read this text. :)
          </p>
        </div>
        <div class="col-sm-3 mb-3 mb-md-0">
          <h5><a href="/about" class="text-white">About us</a></h5>
            <p>We are Martian Manhunter Python Advanced Band!
              And I'm a student of Cursor Education and a member of this Band. :)</p>
        </div>
        <div class="col-lg-3 col-xl-3 mb-3 mb-md-0">
          <h5><a href="/contact-us" class="text-white">Contact Us</a></h5>
            <p>You can click on "Contact Us" and send us an email. We will answer you as soon as possible.<br>
              Also, you can call us:<br>+380-00-000-00-00<br>
              Or visit us at:<br>Lviv, Ukraine</p>
        </div>
        <div class="col-xl-3 mb-3 mb-md-0">
          <h5><a href="/help" class="text-white">Help & FAQ</a></h5>
            <p>Here you can see Frequently Asked Questions and Answers.<br>
              Many people ask similar questions. Maybe your question has been asked earlier.<br>Just check! :)</p>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
</footer>
