<!doctype html>
<html lang="en">
<head>
    {% include 'blog/shared/head.html' %}
    <title>Categories</title>
</head>
<body>
{% include 'blog/shared/header.html' %}
<div class="list-group" align="center">
    {% for category in categories %}
        <a href="#" class="list-group-item list-group-item-action active"></a>
        {{ category.title }}
    {% endfor %}
</div>
<a class="btn btn-primary" href="/categories/create" role="button">Add new category</a>

{% include 'blog/shared/scripts.html' %}
</body>
</html>
